!!! 5
html
  header
    style.
      #home {
        background: url('//assets.osteele.com.s3.amazonaws.com/sevensitters/stealthcar2.jpg') no-repeat;
        background-size: cover;
      }
  body#home
