!!! 5
html
  header
    title Seven Sitters
    meta(charset="utf-8")
    style.
      #home {
        background: url('//assets.osteele.com.s3.amazonaws.com/sevensitters/stealthcar2.jpg') no-repeat;
        background-size: cover;
      }

  body#home
