!!! 5
html
  header
    title Seven Sitters Admin
    link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")

  body
    .container
      .row
        .col-xs-12
          a.btn.btn-primary.btn-lg.btn-block(href="/auth/github") Login
